#show-location {
  display: none;
}

.vacation {
  cursor: pointer;
  color: #0088cc;
}

.vacation:hover {
  text-decoration: underline;
}

#add-spot-form {
  float: left;
}

#list-of-places {
  float: right;
}
